.navbar-toggler {
  display: block; }

.navbar-brand img {
  border: 1px solid red; }

input[type="search"], button.search {
  border: none;
  background: inherit; }

.main {
  background: #eee; }

.user-menu h2, .user-menu p {
  font-size: 1rem;
  margin: 0;
  padding: 0; }
